@using System.Xml.Linq
@using System.Xml
@{
    Response.ContentType = "text/xml";
    var load = new Comic();
    var comics = load.LoadComic("/content/xml/comics/comic-list.xml");
    var settings = load.LoadComic("/App_Data/WebcomicX.xml");
    string siteUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
    var comicList = (from xml in comics.Descendants("Comic")
                    orderby (string) xml.Element("Date") descending
                   select xml);

    var comicType = "Long Form";
}
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">
    <channel>
        <title>@settings.Descendants("ComicName").ElementAt(0).Value</title>
        <atom:link href="@siteUrl/feed/rss" rel="self" type="application/rss+xml"/>
        <link>@siteUrl</link>
        <description>@settings.Descendants("Description").ElementAt(0).Value</description>
        <language>en-US</language>
        <dc:rights>
            @if(settings.Descendants("License").ElementAt(0).Value!=""){
            @settings.Descendants("License").ElementAt(0).Value
            }
            else{
                <text>Copyright @DateTime.UtcNow.Year </text>
            }
        </dc:rights>
        <sy:updatePeriod>hourly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>

        @foreach(var comic in comicList){
                  string pagesfilename = "/content/xml/comics/comic-"+comic.Element("ComicValue").Value+".xml";
                  int comicNo = comic.Element("ComicValue").Value.AsInt();
                  var pageXml = load.LoadComic(pagesfilename);
            @Html.Raw("<item>")
            @Html.Raw("<title>"+WebUtility.HtmlDecode(comic.Element("Title").Value)+"</title>")
            @Html.Raw("<link>"+siteUrl+"/comic/"+comic.Element("ComicValue").Value+"</link>")
            @Html.Raw("<description><![CDATA["+pageXml.Descendants("ComicCopy").Descendants("Description").ElementAt(0).Value+"]]></description>")
            @Html.Raw("<pubDate>"+Convert.ToDateTime(comic.Element("Date").Value).ToString("ddd, dd MMM yyyy HH:mm:ss +0000")+"</pubDate>")
            @Html.Raw("<dc:creator>"+pageXml.Descendants("ComicCopy").Descendants("Author").ElementAt(0).Value+"</dc:creator>")
            @Html.Raw("<guid isPermaLink='false'>"+siteUrl+"/"+comic.Element("ComicValue").Value+"</guid>")
            if(load.comicImg(comicNo,1)!=""){
            @Html.Raw(
                 "<media:content url='"+load.comicImg(comicNo,1)+"' medium='image'>"+
                    "<media:title type='html'>"+WebUtility.HtmlDecode(comic.Element("Title").Value)+"</media:title>"+
                 "</media:content>")
                                                                     }
            @Html.Raw("</item>")
         }
    </channel>
</rss>
                   