@using System.Xml.Linq
@using System.Xml

@{
   int pageNo = 0;
    int comicIndex = 0;
    //load xml for webcomic settings and comix list
    var load = new Comic();
    var settings = load.LoadComic("/App_Data/WebcomicX.xml");
    var doc = load.LoadComic("/content/xml/comics/comic-list.xml");
    var comicNo=doc.Descendants("Comic").Count();
    
    var pagesDoc = load.LoadComic("/content/xml/comics/comic-"+comicNo+".xml");
    int pageCount = pagesDoc.Descendants("Page").Count();

    Layout = "../layouts/_main.cshtml";
    }
    
@section head{
<meta name="description" content="@settings.Descendants("Settings").Descendants("Description").ElementAt(0).Value">
}
@section comic{

<div class="archive-nav cf">
    <div id="archive-comic" class="chapters container archive-nav-inner">
        <label><a href="/comic/archives">Comic</a></label>
        <form>
            <select id="chapter-nav">
            @foreach(var comic in doc.Descendants("Comic")){
                //list comics
                comicIndex++;
                if(comicIndex==comicNo){
                    //if the current comicNo is equal to the comic being indexed
                    //set that selected option to selected
                    <option value="@comicIndex" selected='selected'>@comic.Element("Title").Value</option>
                }
                else{
                    <option value="@comicIndex">@comic.Element("Title").Value</option>
                }
            }

            </select>
        </form>
    </div>
    <div id="archive-page" class="pages container archive-nav-inner">
        <label>Page</label>
        <form>
        <select id='page'>
            @foreach(var page in pagesDoc.Descendants("Page")){//list pages
                pageNo++;
                if(pageCount==pageNo){
                    //if page begining display is equaly to the total numberof comics make this comic selected
                    <option value='@pageNo' selected='selected'>@pageNo</option>
                }
                else{
                    <option value='@pageNo'>@pageNo</option>
                }
            }
            @if(pageNo==0){
                <option value='1'>1</option>
            }

        </select>
        </form>
    </div>
</div>
<div class="webcomic">
    <div class="comic-pagination cf top-border">
        <nav>
            <div class="previous @if(comicNo<2 && pageCount<1){<text> is-hidden </text>}" >	
                <a href="/comic/read/1/" rel="first"><b>&laquo;</b><span>First </span></a>
                <a href="@load.previous(comicNo,true)" class="previous" rel="prev"><b>&#139;</b><span>Previous</span></a>
            </div>	
            <span class="comic-pagination-archive">
			    <a href="/comic/archives">Archives</a>
			</span>
        </nav>
    </div>
    <div id="pageContent">
        <noscript>
        @load.WebComic(comicNo)
        </noscript>
    </div>
<div class="comic-pagination cf bottom-border">
    <nav>
        <div class="previous @if(comicNo<2 && pageCount<1){<text> is-hidden </text>}">
            <a href="/comic/read/1/" rel="first"><b>&laquo;</b><span>First </span></a>
            <a href="@load.previous(comicNo,true)" class="previous" rel="prev"><b>&#139;</b><span>Previous</span></a>
        </div>	
        <span class="comic-pagination-archive"><a href="/comic/archives">Archives</a></span>
    </nav>
</div>
</div>
}
@section article{
    <section id="comicHeading">
        @load.comicHeading(comicNo)
    </section>
    <div id="authorComments">
        @load.ComicCopy(comicNo)
    </div>
}
@section comments{}
@section scripts{
<script src="@Href("../scripts/comic.min.js?v=1")" ></script>
<script>
    $(document).ready(function () {
        $(".webcomicXreader").webcomicXreader({comicNo:@comicNo,pageNo:@pageNo});
    });
</script>

}