@using System.Xml.Linq
@using System.Xml

@{
    int comicNo = UrlData[1].AsInt();
    int comicNode = comicNo - 1;  
    int pageNo = 0;
    int comicIndex = 0;
    //load xml for webcomic settings and comix list
    var load = new Comic();
    var doc = load.LoadComic("/content/xml/comics/comic-list.xml"); 
    var settings = load.LoadComic("/App_Data/WebcomicX.xml");
    var pagesDoc = load.LoadComic("/content/xml/comics/comic-"+comicNo+".xml");

    int pageCount = pagesDoc.Descendants("Page").Count();
    
    Page.Title =" - "+ doc.Descendants("Comic").Descendants("Title").ElementAt(comicNode).Value;
    var host = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);

    Layout = "../layouts/_main.cshtml";

    }
    
@section head{
<meta name="description" content="@load.ComicShortDescription(comicNo)">
@if(comicNo<doc.Descendants("Comic").Count()){
<link rel="prefetch" href="@host/comic/read/@(comicNo+1)">
}
}
@section bodyjs{onload="displayPage();"}
@section comic{

<div class="archive-nav cf">
    <div class="chapters container">
        <label><a href="/comic/archives">Comic</a></label>
        <form>
            <select id="chapters" onchange="go(this)">
            @foreach(var comic in doc.Descendants("Comic")){
                //list comics
                comicIndex++;
                if(comicIndex==comicNo){
                    //if the current comicNo is equal to the comic being indexed
                    //set that selected option to selected
                    <option value="@comicIndex" selected='selected'>@comic.Element("Title").Value</option>
                }
                else{
                    <option value="@comicIndex">@comic.Element("Title").Value</option>
                }
            }

            </select>
        </form>
    </div>
    <div class="pages container">
        <label>Page</label>
        <form>
        <select id="page" onchange="pageGo(this)">
            @foreach(var page in pagesDoc.Descendants("Page")){//list pages
                pageNo++;
                <option value="@pageNo">@pageNo</option>
            }

        </select>
        </form>
    </div>
</div>
<div class="clear"></div>
<div class="webcomic container">
    <div class="comic-pagination">
        <nav>
            <div class="previous @if(comicNo<2){<text> is-hidden </text>}" >	
                <a href="/comic/read/1/" rel="first"><b>&laquo;</b> <span>First </span></a>
                <a href="@load.previous(comicNo)" class="previous" onclick="previous()" rel="prev"><b>&#139;</b> <span>Previous</span></a>
            </div>	
            <span class="comic-pagination-archive">
			    <a href="/comic/archives">Archives</a>
			</span>
            <div class="next">	
                <a href="@load.next(comicNo)" class="next" rel="next" onclick="next()"><span>Next </span><b>&#155;</b> </a>
	            <a href="/" rel="last"><span>Latest </span><b>&raquo;</b></a>
            </div>
        </nav>
        <div class="clear"></div>
    </div>
    <div id="pageContent">
    @load.WebComic(comicNo)
    </div>
<div class="comic-pagination">
    <nav>
        <div class="previous @if(comicNo<2){<text> is-hidden </text>}">
            <a href="/comic/read/1/" rel="first"><b>&laquo;</b> <span>First </span></a>
            <a href="@load.previous(comicNo)" class="previous" onclick="previous()" rel="prev"><b>&#139;</b> <span>Previous</span></a>
        </div>	
        <span class="comic-pagination-archive"><a href="/comic/archives">Archives</a></span>
        <div class="next">	
            <a href="@load.next(comicNo)" class="next" rel="next" onclick="next()"><span>Next </span><b>&#155;</b> </a>
	        <a href="/" rel="last"><span>Latest </span><b>&raquo;</b></a>
        </div>
    </nav>
    <div class="clear"></div>
</div>
</div>
}
@section article{
    <section>
        @load.comicHeading(comicNo)
    </section>
    <section id="authorComments">
        @load.ComicCopy(comicNo)
    </section>
}
@section comments{}
