@using System.Xml.Linq
@using System.Xml
@using WebMatrix.WebData

@{
    Page.Title = "Edit Page";

    var comicNo = UrlData[0].AsInt();
    int pageNo = UrlData[1].AsInt();
    int pageNode = pageNo - 1;
    var comicNode = comicNo - 1;
    var guide = Request["tutorial"].AsBool();
    var returnUrl = "/webcomicx/admin/edit-page/" + comicNo + "/" + pageNo;
    var tutorial = "";
    if (guide) {
        returnUrl = returnUrl + "&tutorial=true";
        tutorial = "?tutorial=true";
    }

    string pagesfilename = "/content/xml/comics/comic-" + comicNo + ".xml";
    string comicfilename = "/content/xml/comics/comic-list.xml";
    var loadXml = new Comic();
    var page = loadXml.LoadComic(pagesfilename);
    var comics = loadXml.LoadComic(comicfilename);
    var account = loadXml.LoadComic("/App_Data/account.xml");
    var user = (from xml in account.Descendants("User")
                where xml.Element("UserName").Value == WebSecurity.CurrentUserName.ToString()
                select xml).FirstOrDefault();


    if (IsPost) {
        var author = user.Element("PenName").Value;
        var description = Request.Unvalidated("description");
        var content = Request.Unvalidated("content");
        var imagePath = "";
        var newFileName = "";
        var imageThumbPath = "";
        WebImage image = null;
        var date = DateTime.UtcNow;

        int i = 0;
        image = WebImage.GetImageFromRequest();
        if (image != null) {
            newFileName = Path.GetFileNameWithoutExtension(image.FileName);
            var extension = Path.GetExtension(image.FileName);
            var imagefilename = newFileName;
            while (File.Exists(HttpContext.Current.Server.MapPath("/content/uploads/pages/" + newFileName + extension))) {
                i++;

                newFileName = imagefilename + "-" + i;

            }
            newFileName = newFileName + extension;
            imagePath = @"pages/" + newFileName;

            //get height of the image
            var imgageHeight = image.Height;

            image.Resize(width: 800, height: imgageHeight, preserveAspectRatio: true, preventEnlarge: true);
            image.Save(@"~/content/uploads/" + imagePath);
            imageThumbPath = @"pages/thumbnail/" + newFileName;
            image.Resize(width: 200, height: 200, preserveAspectRatio: true, preventEnlarge: true);
            image.Save(@"~/content/uploads/" + imageThumbPath);
            page.Descendants("Page").Descendants("Image").ElementAt(pageNode).Value = newFileName;

        }
        //page.Descendants("Page").Descendants("Author").ElementAt(pageNode).Value=attribute;
        page.Descendants("Page").Descendants("Description").ElementAt(pageNode).Value = description;
        page.Descendants("Page").Descendants("Content").ElementAt(pageNode).Value = content;

        //change date of when comic was updated
        comics.Descendants("Comic").Descendants("EditDate").ElementAt(comicNode).Value = date.ToString();

        comics.Save(Server.MapPath(comicfilename));
        page.Save(Server.MapPath(pagesfilename));

        Session["updated"] = "true";

        Response.Redirect(returnUrl);
    }
}
@if (Session["updated"] == "true") {
    HttpContext.Current.Session.Remove("updated");
    <div class="prompt">Your changes have been saved <a onclick="closePrompt()">&times;</a></div>
}
<div class="content-wrapper">
    <h2>
        Edit Page @pageNo For @comics.Descendants("Comic").Descendants("Title").ElementAt(comicNo - 1).Value
        <a class="button float-right" href="@loadXml.viewComic(comicNo,pageNo)" target="_blank">View Page</a><a class="button float-right" href="/webcomicx/admin/edit-comic/@comicNo/@tutorial"> &laquo; Back to Comic #@comicNo</a>
    </h2>
    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <div class="imageUpload">
                <label for="image">Image</label>
                <input type="file" name="image" id="images" onchange="showUploadedItem(this)" />
                <div class="image-list">
                    @if (page.Descendants("Page").Descendants("Image").ElementAt(pageNode).Value != "") {
                        <img src="/content/uploads/pages/@page.Descendants("Page").Descendants("Image").ElementAt(pageNode).Value" alt="Page @pageNo">
                    }
                </div>
            </div>
            <label>Script</label>
            <textarea name="content">@page.Descendants("Page").Descendants("Content").ElementAt(pageNode).Value</textarea>
            <label>Short Description <span class="sub-text">(Recommended Maximum of 155 Characters )</span></label>
            <textarea name="description">@page.Descendants("Page").Descendants("Description").ElementAt(pageNode).Value</textarea>
            <div>
                <a href="/webcomicx/admin/edit-comic/@comicNo">Cancel</a>
                <button type="submit">Update</button>
            </div>
        </fieldset>
    </form>
</div>