@using System.Xml.Linq
@using System.Xml

@{
    Page.Title = "Webcomix Settings";

    var filename = "~/App_Data/WebcomicX.xml";
    var load = new Comic();
    var settings = load.LoadComic(filename);
    var authors = load.LoadComic("~/App_Data/account.xml");

    var next = Request["next"];
    var updated = Request["updated"];

    var comicName = settings.Descendants("Settings").Descendants("ComicName").ElementAt(0).Value;
    var author = settings.Descendants("Settings").Descendants("Author").ElementAt(0).Value;
    var genre = settings.Descendants("Settings").Descendants("Genre").ElementAt(0).Value;
    var style = settings.Descendants("Settings").Descendants("Style").ElementAt(0).Value;
    var blog = settings.Descendants("Settings").Descendants("Blog").ElementAt(0).Value;
    var description = settings.Descendants("Settings").Descendants("Description").ElementAt(0).Value;
    var license= settings.Descendants("Settings").Descendants("License").ElementAt(0).Value;
    string currentTheme= settings.Descendants("Settings").Descendants("Theme").ElementAt(0).Value;

    //get list of themes in directory
     string[] themes = Directory.GetDirectories(Server.MapPath("/content/themes"));

    bool longCheck = false;
    bool shortCheck = false;
    bool blogCheck = blog.AsBool();
    var checkStyle = "is-checked";
    if(!blogCheck){
        checkStyle ="is-unchecked";
    }


    if(WebSecurity.IsAuthenticated){

        if(IsPost){
            comicName = Request["ComicName"];
            author = Request["author"];
            genre = Request["genre"];
            style = Request["style"];
            blog = Request["blog"];
            currentTheme = Request["theme"];
            description = Request["description"];
            license = Request.Unvalidated("license");

            if(blog ==null){
                blog="false";
                
            }
            try{
            settings.Descendants("Settings").Descendants("Genre").ElementAt(0).Value=genre;
            }
            catch{
                
            }
            try{
            settings.Descendants("Settings").Descendants("Style").ElementAt(0).Value=style;
            }
            catch{
                
            }
            try{
            settings.Descendants("Settings").Descendants("Description").ElementAt(0).Value=description;
            }
            catch{
                
            }
            try{
            settings.Descendants("Settings").Descendants("Theme").ElementAt(0).Value=currentTheme;
            }
            catch{
                
            }
            settings.Descendants("Settings").Descendants("ComicName").ElementAt(0).Value=comicName;
            settings.Descendants("Settings").Descendants("Author").ElementAt(0).Value=author;           
            settings.Descendants("Settings").Descendants("License").ElementAt(0).Value=license;           
            settings.Descendants("Settings").Descendants("Blog").ElementAt(0).Value=blog;

            settings.Save(Server.MapPath(filename));
            Response.Redirect("~/webcomicx/admin/webcomic-settings?updated=updated");
            
            if(next=="next"){
                Response.Redirect("~/webcomicx/admin");
            }
        }
    }
}
@if(updated=="updated"){
<h3 class="prompt">Changes have been saved <a onclick="closePrompt()">&times;</a></h3>
}
<div class="content-wrapper">
        <h2>Webcomic Settings</h2>
        <form method="post">
            <fieldset>
                <label>Comic Name</label>
                <input type="text" name="ComicName" value="@comicName">
                <label>Primary Author</label>
                <select name="author">
                    <option value="">none</option>
                @foreach(var authorName in authors.Descendants("Settings").Descendants("User")) {
                    <option @if(author==authorName.Element("UserName").Value){<text>selected="selected"</text>} value="@authorName.Element("UserName").Value" >@authorName.Element("PenName").Value (@authorName.Element("UserName").Value)</option>
                    }
                </select>
                <label>License</label>
                <select id="license" onchange="getLicense()" @if(license!=""){<text>style="max-width:145px"</text>}>
                    <option value="">Copy Right</option>
                    <option value="Other" @if(license!=""){<text>selected="selected"</text>}>Other</option>
                </select>               
                <input placeholder="Text or code to describe your license" id="licenseValue" @if(license==""){<text>type="hidden"</text>}else{<text>type="text"</text>} name="license" value="@license" style="max-width: 550px">
                <label>Genre</label>
                <input type="text" name="genre" value="@genre">
                <label>Style</label>
                <input type="text" name="style" value="@style">
                <label>Description</label>
                <textarea name="description">@description</textarea>
                <br>
                <label>Theme</label>
                <select style="width: 100%" name="theme">
                    @foreach (string theme in themes){
                    Uri themeName = new Uri(theme);
                    <option @if(currentTheme==themeName.Segments.Last()){<text>selected="selected"</text>} value="@themeName.Segments.Last()">
                        @themeName.Segments.Last()
                    </option>
                    }
                </select>

                <input style="display: none" type="checkbox" id="blog" name="blog" checked="@blogCheck" value="true">
                <label onclick="checkButton()" id="checkBox" class="button-switch button @checkStyle" for="blog" style="display: initial">Include Blog</label>
                <br>

                <br>
                <input type="submit" value="Save">
            </fieldset>
        </form>
</div>